* {
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

div {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-evenly;
}
.active {
    background-color: green;
}

.parent {
    height: 100px;
    width: 1000px;
    background-color: white;
    border: none;
}

.picture {
    height: 900px;
    width: 900px;
    background-color: white;
    border: none;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

/* Далее заимстованный стиль */

input.switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    box-shadow: inset -1em 0px 0px 0px rgba(192, 192, 192, 1);
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  input.switch:checked {
    box-shadow: inset 1em 0px 0px 0px rgba(33, 150, 243, 0.5);
    border: 1px solid rgba(33, 150, 243, 1);
  }
  
  input.switch:focus {
      outline-width: 0;
  }
